<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/css/PurpleStyle.css" rel="stylesheet" />
</head>
<body>

    <!--Nav Bar-->
    <div class="bg-yay text-white p-2">
        <span class="navbar-brand m-lg-2">Lily Barton - Mission #8</span>
    </div>


    <!--Main Area-->
    <div class="row m-1 p-1">
        
        <div class="col-9">
            @RenderBody()
        </div>

    </div>
</body>
</html>
