<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h4>Lily Barton - Mission #7</h4>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div style="margin-left:10px;margin-right:10px;">
        @RenderBody()
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
</body>
</html>
